# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore bin direcotyr
app/bin

# Ignore my results of my tests
app/src/main/resources/results.txt